{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="LanderX">
    <title>{{title}}-Emitm电影网:让生活遇见电影</title>
  </head>
  <body>
    <h1><center>{{title}}</center></h1>
    <center><a href="/searchpage">搜索</a></center>
    <center><a href="/">电影列表</a></center>
    <center><a href="/actor/1">演员列表</a></center>
    <center>
      <img src="/static/movielist/{{title}}.png"
           alt="暂无图片">
    </center>

    <h2>影片简介</h2>
    <p>{{intro}}</p>

    <h2>演职员表</h2>

        <center>
    <table border="1">
      <tr>
        {% for actor in actors %}
        {% if forloop.counter0 == 5 or forloop.counter0 == 10 or forloop.counter0 == 15 or forloop.counter0 == 20 or forloop.counter0 == 25%}
      </tr><tr>
        {% endif %}
      <td>
        <center>
          <a href="../actor/{{actor}}">
            <img src="/static/movielist/actor/{{actor}}.png"
                 alt="暂无照片">
          </a><br>
          <a href="../actor/{{actor}}">{{actor}}</a>
        </center>
      </td>
      {% endfor %}
      </tr>
    </table>
    </center>

    
    <h2>影评</h2>
    <ul>
      {% for comment in comments %}
      <li>{{comment}}</li>
      {% endfor %}
    </ul>
    
    <h1><center>end</center></h1>
    <center><a href="/searchpage">搜索</a></center>
    <center><a href="/">电影列表</a></center>
    <center><a href="/actor/1">演员列表</a></center>

  </body>
</html>
