{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="LanderX">
    <title>{{searchstring}}Emitm电影网:让生活遇见电影</title>
  </head>
  <body>
    <center>
    <h1>搜索结果</h1>
    <strong>共找到:{{cnt}}条结果, </strong>
    <strong>耗时:{{costtime}}s</strong>
    </center>
    <center><a href="/searchpage">再次搜索</a></center>
    <center><a href="/">电影列表</a></center>
    <center><a href="/actor/">演员列表</a></center>
    <br><br>
    <center>
    <table border="1">
      <tr>
      {% for item in ans %}
      {% if forloop.counter0 == 5 or forloop.counter0 == 10 or forloop.counter0 == 15 %}
      </tr><tr>
      {% endif %}
      <td>
        <center>
          <a href="{{item.2}}">{{item.0}}</a><br>
          <a href="{{item.2}}"><img src="{{item.1}}" alt="暂无图片"></a>
        </center>
      </td>
      {% endfor %}
      </tr>
    </table>
    </center>

    <h2><center>页面跳转</center></h2>
    <p><center>
      <a href="/s/1/?c={{c}}&q={{q}}">第一页</a>
      ...
      {% for page in pages %}
      <a href="/s/{{page}}/?c={{c}}&q={{q}}">{{page}}</a>
      {% endfor %}
      ...
      <a href="/s/{{totalpages}}/?c={{c}}&q={{q}}">尾页</a>
    </center></p>

    <form action="/searchturnto" method="get"><center>
        <input type="text" name="p" style="height:38px;width:50px">
        <input type="submit" value="转至" style="height:40px;width:40px">
    </center></form>

    
    <h1><center>end</center></h1>
    <center><a href="/searchpage">再次搜索</a></center>
    <center><a href="/">电影列表</a></center>
    <center><a href="/actor/">演员列表</a></center>

  </body>
</html>
